<div class="todo">
    <h1 class="text-center py-5 text-danger">
        My to do list
    </h1>
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="addInput my-5">
            <input  class ="inputAdd"type="text"/>
        </div>
        <div class="box p-5">
            <ul class="list">
                @for(item of todos;track item.id){

              
                <li class="d-flex justify-content-between">
                    <input type="checkbox"name="select" id=""/>
                    <p>{{item.title}} </p>
                    <i class="bi bi-trash"></i>
                </li>
            }
            </ul>
        </div>
    </div>
</div>